* 
html, body{
background-color: grey;
}
{
   box-sizing: border-box;
   margin: 0;
}
.demo-wrapper {
   display: table;
   max-width: 920px;
   margin: 0 auto;
}
.link {
   text-decoration: none;
   display: block;
   position: relative;
   padding: 20px;
   text-align: center;
   color: #102030;
}
.link-inner {
   perspective: 1500px;
}
.link img {
   display: block;
   width: 800px;
   transform: rotateX(0deg) rotateY(30deg);
   border-left: 5px solid #ccc;
   border-radius: 8px;
   transition: .5s ease-in-out;
}
.link img.mobile {
   position: absolute;
   z-index: 5;
   right: 20px;
   top: 45px;
   width: 180px;
   transform: rotateX(0deg) rotateY(-30deg);
   border-right: 4px solid #ccc;
   border-left: 0 solid #ccc;
   border-radius: 8px;
}
.link:hover img {
   transform: translateY(-20px);
   border-left: 0 solid #ddd;
   border-right: 0 solid #ccc;
}
.post-meta {
   margin-top: 20px;
}
.post-meta h2 {
   margin-bottom: 15px;
}
* {
   margin: 0;
   font-family: 'Montserrat Alternates', sans-serif;
   box-sizing: border-box;
}
.post-wrap {
   max-width: 1120px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.post-item {
   padding: 10px;
}
.post-item-wrap {
   position: relative;
}
.post-item img {
   display: block;
   width: 100%;
 max-height: 187px;
}
.post-item:hover .post-info {
   opacity: 1;
}
.post-link {
   text-decoration: none;
}
.post-info {
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
   color: white;
   opacity: 0;
   position: absolute;
   bottom: 0;
   width: 100%;
   transition: .5s linear;
}
.post-meta {
   text-transform: uppercase;
   line-height: 18px;
   font-weight: 500;
   font-size: 11px;
   padding: 0 0 10px 15px;
   margin-bottom: 15px;
   position: relative;
   display: inline-flex;
   align-items: center;
   border-bottom: 1px solid #ff7760;
}
.post-date:after {
   content: "\2022";
   margin: 0 6px;
   font-size: 14px;
}
.post-title {
   padding: 0 15px;
   font-weight: 600;
   margin-bottom: 15px;
}
@media (min-width: 768px) {
   .post-item {
      flex-basis: 50%;
      flex-shrink: 0;
   }
}
@media (min-width: 960px) {
   .post-item {
      flex-basis: 33.333333333%;
   }
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: white;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}
.footer{
 padding: 15px 60px;
  background: #DDE3E7;
  font-weight: 500;
   font-size: 20px;

}